@import "../../config.less";

.home-index {
    margin-bottom: 50px;
    .placeholder-item {
        background-color: #B484F7; //background-color: rgba(0,0,0,0);
        height: 21px;
    }
    .header-right {
        .icon {
            position: absolute;
            right: 14px;
            margin: auto;
            top: 0;
            bottom: 0;
        }
        .more-message-count {
            position: absolute;
            right: 12px;
            width: 8px;
            height: 8px;
            top: 10px;
            z-index: 20;
            border-radius: 50%;
            border: 1px solid #ffffff;
            text-align: center;
            font-size: 12px;
            background-color: @mainDanger;
        }
    }
    .home-wrap {
        margin-top: @headerHeight + @headerTop - 1px;
        padding-bottom: 0;
        .actions-wrap {
            position: relative;
            bottom: 30px;
            margin: auto 14px;
            //width: 93%;
            //max-width: 386px;
            .table-wrap {
                width: 100%;
                min-height: 104px;
                margin-bottom: 14px;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
                &:last-child {
                    .cell {
                        height: 104px;
                    }
                }
                .cell {
                    position: relative;
                    float: left;
                    margin: 0;
                    width: 50%;
                    height: 122px;
                    border-bottom: 1px solid @baseBorder;
                    border-right: 1px solid @baseBorder;
                    text-align: center;
                    background-color: #ffffff;
                    &:active {
                        //background-color: rgba(255, 255, 255, 0.5);
                        background-color: #f8f8f8;
                    }
                    .icon {
                        display: block;
                        margin: 20px auto 0 auto;
                        width: 36px;
                        height: 36px;
                    }
                    .title {
                        margin-top: 14px;
                        width: 100%;
                        line-height: 14px;
                        font-size: 14px;
                        text-align: center;
                        color: @baseText01;
                    }
                    .desc {
                        margin-top: 6px;
                        line-height: 12px;
                        font-size: 12px;
                        color: @mainBlue;
                        &.danger {
                            color: @mainDanger;
                        }
                    }
                    &:nth-child(even) {
                        border-right: none;
                    }
                    &:nth-last-child(1),
                    &:nth-last-child(2) {
                        border-bottom: none;
                    }
                }
            }

        }
    }
    //首页图标
    .icon-index-task {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -30px -606px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-notice {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -66px -606px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-safe-activity {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -102px -606px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-qy-data {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -138px -606px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-fw-data {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -174px -606px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-hidden-danger {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -210px -606px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-train {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -30px -642px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-data-count {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -66px -642px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-device {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -102px -642px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-monitor-video {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -138px -642px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-monitor-dq {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -174px -642px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-monitor-sxt {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -210px -642px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }

    .icon-index-news-info {
        display: inline-block;
        background: url('/static/icons/5_1/transparent_icons.png') -246px -642px no-repeat;
        width: 36px;
        height: 36px;
        background-size: @bgSize;
    }
}
