@import "../static/style/formValidator.less";
@import "config.less";
@import "icon.less";
@import "/style/progressBar.less";

@placeholderDisplay: none;

body {
  margin: 0;
  background-color: #EFEEF4;
  -webkit-text-size-adjust: 100% !important; //禁止ios端调整字体大小
}

a, a:hover, a:active, a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none;
}

//浮动
.fl {
  float: left;
}

.fr {
  float: right;
}

.clear-both {
  display: block;
  clear: both;
}

.clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// 过渡效果
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

//单行文本 文本溢出省略
.no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//文本居中
.line-middle {
  display: table;
  width: 100%;
  height: 100%;
  .line-middle-text {
    display: table-cell;
    vertical-align: middle;
  }
}

.text-center {
  text-align: center;
}

//绝对居中
.abs-middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.abs-all-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

//状态栏占位
.placeholder-item {
  width: 100%;
  margin: 0 auto;
  height: @headerTop;
  background-color: @bgBlue;
  position: fixed;
  top: 0;
  z-index: 10;
  display: @placeholderDisplay;
}

// header部分
.header-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: @mainBlue;
  color: #fff;
  font-size: 18px;
  height: 40px + @headerTop;
  padding-top: @headerTop;
  .mint-header-button {
    -webkit-box-flex: 0.5; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0.5; /* OLD - Firefox 19- */
    width: 25%; /* For old syntax, otherwise collapses. */
    -webkit-flex: 0.5; /* Chrome */
    -ms-flex: 0.5; /* IE 10 */
    flex: 0.5;
    &.is-left {
      min-width: 50px;
      button {
        width: 100%;
        text-align: left;
      }
    }
  }
  .mint-header-title {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    width: 50%; /* For old syntax, otherwise collapses. */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
  }
}

.header-item {
  font-size: 16px !important;
  line-height: 41px;
  &.disabled-btn {
    opacity: .3;
  }
}

//页面容器
.page-wrap {
  width: 100%;
  overflow: auto;
  height: 100%;
  padding-bottom: 100px;
  margin-top: 40px + @headerTop;
  position: relative;
  &.hidden {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}

// 底部浮动按钮
.bottom-btn {
  border-radius: 0;
  position: fixed;
  bottom: 0;
  z-index: 10;
  font-size: 14px;
  height: 40px;
  left: 0;
  right: 0;
}

// 底部tabs
.tab-wrap {
  height: 48px;
}

//list
.com-list {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 14px;
  .com-list-cell {
    width: 100%;
    margin: 0 auto;
    display: table;
    .border-btm(@borderColor);
    .com-list-sign {
      background: url('/static/icons/resource.png') -111px -234px no-repeat;
      background-size: 892px auto;
      float: right;
      margin: 15px 14px 0 0;
      width: 9px;
      height: 14px;
    }
    .com-list-item {
      font-size: 14px;
      color: #232323;
      height: 44px;
      line-height: 44px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 60%;
      display: table-cell;
      vertical-align: middle;
      span {
        height: 44px;
        line-height: 44px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

//data
.com-data-wrap {
  & + .com-data-wrap {
    margin-top: 14px;
    box-shadow: @baseShadow;
  }
  &.card {
    margin: 13px 6px 0 9px;
    border-radius: 4px;
    //border-top: 3px solid @mainBlue;
    box-shadow: 0 -3px 0 @mainBlue;
    &.is-edit {
      margin-top: 10px;
      border: 1px solid @mainBlue;
      border-top: 3px solid @mainBlue;
      box-shadow: none;
    }
    :first-child {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    :last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  .title-wrap {
    height: 44px;
    padding: @cellPaddingL;
    background-color: #fff;
    color: @mainBlue;
    .title {
      line-height: 44px;
      font-size: 14px;
    }
    .btn {
      line-height: 44px;
      font-size: 14px;
      &.fr {
        margin-left: 18px;
      }
    }
    .disabled-btn {
      opacity: .3;
    }
  }
  .sel-cell-wrap {
    position: relative;
    .sign {
      top: 14px;
    }
  }
  .sign {
    position: absolute;
    z-index: 1;
    left: 6px;
    top: 18px;
    font-size: 14px;
    color: @signRed;
  }
  .ipt {
    position: relative;
    border: none;
    padding: 0;
    width: 100%;
    height: 36px;
    font-size: 14px;
    color: #676767;
  }
  .phone {
    color: @mainBlue;
  }
  &.is-edit {
    .mint-cell-allow-right::after {
      border-color: @mainBlue;
      width: 7px;
      height: 7px;
    }
    .mint-cell-value {
      width: 66%;
      margin-right: 24px;
      &.is-link {
        width: 66%;
        color: #676767 !important;
      }
    }
    .disabled {
      .mint-cell-value {
        color: @textGray !important;
        width: auto;
        margin-right: 0;
      }
    }
  }
  .mint-cell {
    min-height: 44px;
    background: none;
    background-color: #fff;
    .mint-cell-wrapper {
      //background-image: none;
      padding: @cellPaddingL;
      letter-spacing: 0;
      color: #232323;
      .mint-cell-title {
        color: @textBase;
        min-width: 100px;
        white-space: nowrap;
        font-size: 14px;
      }
      .mint-cell-value {
        display: block;
        padding-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        color: #8f8f8f;
      }
    }
  }
}

//弹框公用样式
.mint-msgbox {
  width: 270px;
  border-radius: 13px;
  font-size: 17px;
  .mint-msgbox-header {
    padding: 21px 15px 10px;
    font-size: 17px;
    letter-spacing: -0.41px;
    color: #000000;
  }
  .mint-msgbox-content {
    padding: 0 15px 24px;
    border: 0;
    .mint-msgbox-message {
      line-height: 16px;
      font-size: 13px;
      letter-spacing: -0.08px;
      color: #111111;
    }
  }
  .mint-msgbox-btns {
    margin-top: 11px;
    border-top: 1px solid #ddd;
    .mint-msgbox-btn {
      padding: 10px 6px 12px;
      line-height: 22px;
      font-size: 17px;
      letter-spacing: -0.41px;
      &.mint-msgbox-confirm {
        color: #0076FF;
      }
      &.mint-msgbox-cancel {
        color: #B0B7C0;
      }
    }
  }
}

//popup-btm公用样式
.mint-popup-bottom {
  width: 100%;
  background: #F7F8F9;
  .p-header {
    height: 44px;
    .btn {
      line-height: 44px;
      padding: 0 14px;
      font-size: 14px;
      color: #159dff;
    }
  }
  .p-body {
    padding: 10px 0;
    .picker .picker-center-highlight {
      z-index: -1;
      background-color: #fff;
    }
  }
}

//分数指针
.score-circle {
  background: no-repeat center;
  background-size: contain;
  &.score-100 {
    background-image: url('/static/banner/circle_100.png');
  }
  &.score-90 {
    background-image: url('/static/banner/circle_90.png');
  }
  &.score-80 {
    background-image: url('/static/banner/circle_80.png');
  }
  &.score-70 {
    background-image: url('/static/banner/circle_70.png');
  }
  &.score-60 {
    background-image: url('/static/banner/circle_60.png');
  }
  &.score-50 {
    background-image: url('/static/banner/circle_50.png');
  }
  &.score-40 {
    background-image: url('/static/banner/circle_40.png');
  }
  &.score-30 {
    background-image: url('/static/banner/circle_30.png');
  }
  &.score-20 {
    background-image: url('/static/banner/circle_20.png');
  }
  &.score-1 {
    background-image: url('/static/banner/circle_1.png');
  }
  &.score-0 {
    background-image: url('/static/banner/circle_0.png');
  }
  &.score-null {
    background-image: url('/static/banner/circle_null.png');
  }
}

//状态
.state-gray {
  color: @textGray;
}

.state-blue {
  color: @mainBlue;
}

.state-succ {
  color: @textSucc;
}

.state-lgray {
  color: @textLGray;
}

.state-red {
  color: @textRed;
}

.state-warning {
  color: @textWarning;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

//主色
.success {
  color: @successColor;
}

.danger {
  color: @dangerColor;
}

.warning {
  color: @warningColor;
}

.btn-primary {
  background-color: @primaryColor;
}

.btn-red {
  background-color: @redColor;
}

.great {
  color: #3ECC7A;
}

.background-blue {
  background-color: @blueColor;
}

.font-blue {
  color: @blueColor;
}

.font-red {
  color: @redColor !important;
}

.font-black {
  color: #606060;
}

.font-16 {
  font-size: 16px;
}
